body{
    background-color: white;
    display: flex;
    justify-content: center;
}
.container{
    background-color: red;
    border-radius: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 1500px;
    height: 850px;
    margin-top: 25px;
}
.title{
    font-weight: 800;
    font-size: 70px;
    margin-bottom: 5px;
    margin-top: 5px;
}
.grid{
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    height: 575px;
    background-color: white;
    margin: 25px;
}
.controls{
    width: 95%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.reset{
    height: 125px;
    width: 125px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
}
.grid-size{
    height: 125px;
    width: 125px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
}
