body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    width: 1200px;
    height: 900px;
    background-color: red;
    border-radius: 3%;
    margin-top: 35px;
}

.grid{
    width: 700px;
    height: 650px;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}
.controls{
    width: 1000px;
    display: flex;
    justify-content: space-between;
}
.reset{
        height: 150px;
        width: 150px;
        background-color: white;
        border-radius: 50%;
        display: inline-block;
        margin: none;
}
.grid-size{
        height: 150px;
        width: 150px;
        background-color: white;
        border-radius: 50%;
        display: inline-block;
        margin: none;
}
.title{
    font-size: 75px;
    margin-bottom: 5px;
}